<button type="submit" class="btn btn-primary" (click)="doCreate('company')" value="doCreateCompany">Create
  Company</button>
<button type="submit" class="btn btn-primary" (click)="doCreate('user')" value="doCreateUser">Create User</button>


<div *ngIf="data=='company'" class="container">
  <p>Company creation</p>
  <div>
    <label>Company: </label>
    <select [(ngModel)]="company" (ngModelChange)="setCurrentCompany($event)" name="companies">
      <option *ngFor="let company of companies;let i=index" [ngValue]="company">
        <ng-container *ngIf="i!=0; else elseTemplate">
          {{company.name}}
        </ng-container>
        <ng-template #elseTemplate>
          -=add new company=-
        </ng-template>


      </option>
    </select>
  </div>
  <form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="assets/company.png" alt="Company" class="avatar">
    </div>

    <div class="container">
      <label for="name"><b>Compay name</b></label>
      <input type="text" placeholder="Enter Company name" name="name" [(ngModel)]="company.name">

      <label for="address"><b>Address</b></label>
      <input type="text" placeholder="Enter address" name="address" [(ngModel)]="company.address">

      <label for="phone"><b>Phone</b></label>
      <input type="text" placeholder="Enter phone" name="phone" [(ngModel)]="company.phone">
      <button type="submit" class="btn btn-primary" (click)="createCompany()" value="Login">Create</button>
      <button type="submit" class="btn btn-danger" (click)="deleteCompany()" value="Login">Delete</button>
    </div>
  </form>
  <div class="container">
    <button type="button" class="cancelbtn">Cancel</button>


  </div>
</div>

<div *ngIf="data=='user'" class="container">
  <p>User creation</p>
  <div class="container">
    <label for="name"><b>UserName</b></label>
    <input type="text" name="name" [(ngModel)]="newUser.username">

    <label for="password"><b>Password</b></label>
    <input type="text"  name="password" [(ngModel)]="newUserpassword">
    <label for="usertypeSelect">Usertype</label>
    <select class="form-control" id="usertypeSelect" [(ngModel)]="newUser.userType"> 
      <option selected>ADMIN</option>
      <option>COMPANY</option>
    </select>
    <button type="submit" class="btn btn-primary" (click)="createUser()" value="Login">Create</button>
   
  </div>


</div>