<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-black">
    
   
    
    <thead>

        <!-- A table row -->
        <tr class="table-primary">
            <!-- A table header -->
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">company</th>
        </tr>
        <tr class="table-primary" >
            <!-- A table header -->
            <th scope="col"></th>
            <th scope="col"><input [(ngModel)]="minPrice"><input [(ngModel)]="minPrice"></th>
            <th scope="col">Amount</th>
            <th scope="col">company</th>
        </tr>
    </thead>

    <tbody class="table-success">
        <tr *ngFor="let currentCoupon of coupons|minPricePipe:minPrice" (click)=[(showCoupon(currentCoupon))] data-toggle="modal" data-target="#myModal" >
            <td>{{ currentCoupon.title }}</td>
            <td>{{ currentCoupon.price }}</td>
            <td>{{ currentCoupon.amount }}</td>
            <td>{{ currentCoupon.company.name }}</td>
        </tr>
    </tbody>
</table>
</div>
<div class="container" *ngIf="selectedCoupon!=null">             
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">{{ selectedCoupon.title }}</h4>
             <br>
        
              <h6>  Company {{ selectedCoupon.company.name }}</h6> 
            
          </div>
          <div class="modal-body">
             
                        
              <div>"{{ selectedCoupon.description }}"</div> 
              
              <div style = "text-align: left">                         
              
              <p>price {{ selectedCoupon.price }}$</p>
              {{ selectedCoupon.amount }} left
              Valid from {{ selectedCoupon.startDate }} to {{ selectedCoupon.endDate }}
              </div>
          </div>
          <div class="modal-footer">
             
              <button type="button" (click)=[(purchaseCoupon())] class="btn btn-primary" data-dismiss="modal">Purchase</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)=[(showCoupons())]>Cancel</button>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>


